table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td.delivered{
  color: rgb(43, 181, 43);
}
th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}
.search-bar {
  position: fixed;
  top: 80px;
  left: 150px;
  width: 100%;

  padding: 10px;

 
}
.search-bar input{
  width:400px;
  padding: 15px 20px;
}
.search-bar.scrolled input {
  width: 250px; 
  
  padding: 8px 20px;
}
.search-bar.scrolled {
top: 8px;
left: 500px;
z-index: 10;
}
.products{
  margin-top:250px;

}
.selection-dropdown {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 120px;
}

.delivery {
  width: 60px;
}
.btn.btn-danger{
  background-color: rgb(255 69 69);
  border: #f56262;
  color: white;
  box-shadow: 1px 1px 15px #c03a3a5e;
}
@media screen and (max-width: 600px) {
  table {
    border: none;
  }

  thead {
    display: none;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  tbody tr {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: calc(50% - 20px);
    box-sizing: border-box;
  }

  tbody td {
    display: block;
    padding: 10px;
    font-weight: bold;
    border-bottom: none;
  }

  tbody td:before {
    content: attr(data-label);
    text-transform: uppercase;
    font-weight: normal;
  }
  .search-bar {
    top: -5px;
    left: 100px;
    z-index: 10;
  }
  .search-bar input{
    width: 150px;
    padding: 8px 20px;
    box-shadow: 1px 2px 21px #5b525221;
  }
  .search-bar.scrolled input {
    width: 150px;
   
    box-shadow: 1px 2px 21px #5b525221;
  }
  .search-bar.scrolled {
top: -5px;
    left: 100px;
  }
  .products{
    margin-top:150px;
  
  }
}
